@font-face {
    font-family: AmaticSC;
    src: url(fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: Satisfy;
    src: url(fonts/Satisfy-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #DAB6FB;
    /* background-image: url(images/background.svg); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    color: white;
}

h1 {
    font-family: AmaticSC;
    text-align: center;
    font-size: 10em;
    margin: -35px 0 10px 0;
}

h2 {
    text-align: center;
    font-family: Satisfy;
    font-size: 2.5em;
    margin: 10px 0 10px 0;
    font-weight: normal;
}

#bgCanvas {
    position: fixed;
}

#contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#linksContent {
    margin: 100px auto 0 auto;
    display: flex;
    width: 720px;
    align-items: center;
    justify-content: center;
}

.col {
    flex: 1;
}

.link {
    display: block;
    margin: 0 auto 0 auto;
}